<%- include header %>
<div class="hero-unit">
<h1>Welcome to Microblog</h1>
<p>Microblog is a  Node.js based simple blog system. </p>
<p>
<a class="btn btn-primary btn-large" href="/login">Login</a>
<a class="btn btn-large" href="/reg">Sign in</a>
</p>
</div>
<div class="row">
<div class="span4">
<h2>Carbo 说</h2>
<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
</div>
<div class="span4">
<h2>Yongtang Says</h2>
<p>
Open Chinese Convert（ OpenCC）By failing to prepare, you are prepareing to fail

The best way to make your dreams come true is to wake up </p>
</div>
<div class="span4">
<h2>Tony Says</h2>
<p>You are never a loser until you quit trying.
Quality is not an act, it is a habit.
A good healthy body is worth more a crown  ingold. </p>
</div>
</div>
<%- include footer %>